*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , 'sans-serif';
    box-sizing: border-box; /*box-sizing: border-box;:
    When you say the box should be 200 pixels wide, it means the 200 pixels include everything: the content, the padding, and the border.
    If you add more padding or a border, the total size of the box will remain 200 pixels; the browser will adjust the size of the content to accommodate the padding and border.*/
}

body{
    background: #222;
}

.card{
    background: linear-gradient(135deg , #00feba, #5b548a);
    width: 90%;
    max-width: 470px;
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1; /*
    Absolutely! When you use flex: 1; on a flex item, it means that the item can grow and take up available space. Here's a simple breakdown:
    Flex Container:
    Imagine a box that holds other smaller boxes (flex items).
    This big box is the flex container.
    Flex Item with flex: 1;:
    Each small box inside the big box is a flex item.
    If you give a flex item the style flex: 1;, it's like telling it, "You can grow if there's extra space available."*/
    margin-right: 16px;
    font-size: 18px;
}